.archiveContainer {
  min-width: max-content;
  margin-inline: auto;
}

.trackGrid {
  display: grid;
  gap: 0.125rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  //
  .trackCard {
    display: grid;
    aspect-ratio: 1 / 1.5;
    border: 3px solid hotpink;
    //

    .trackCard__imgWrapper {
      width: 100%;
      aspect-ratio: 1 / 1.25;
      object-fit: cover;
      @media (min-width: 60em) {
        .card__img {
          aspect-ratio: 1 / 1;
        }
      }
    }
    //
    .trackCard__content {
      background: white;
      align-self: end;
      margin: 0.5rem 0.5rem 2rem;
      padding: 0.5rem;
      box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
      //
      .trackCard__content__title {
        font-size: 1.25rem;
        line-height: 1.1;
        color: firebrick;
      }
      .trackCard__content__artist {
        font-size: 1rem;
        line-height: 1;
      }
      .trackCard__content__genre {
        font-size: 0.825rem;
        line-height: 1;
      }
    }
  }
}

// .stacked {
//   display: grid;
// }
// .stacked > * {
//   grid-column: 1 / 2;
//   grid-row: 1 / 2;
// }

// .featured {
// }
